$accentColor = #FFC0CB
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #B03060

*
  cursor: url('cursor_normal.png'), auto
a:hover, .site-name, .nav-item
  cursor: url('cursor_hover.png'), auto